body{
  font-family: 'Roboto', sans-serif;
}


#map_div {
   width: 100%;
   height:  70vh;
 }

.btn-submit{
  margin-top: -20px;
  width: 100%;
  z-index: -99 !important;
}

.valid{
  border-bottom-color: #eeff41 !important;
}

@media (min-width: 590px) {
  .btn-submit{
    margin-top: 22px;
  }
}

@media (max-width: 590px) {
.brand-logo{
  font-size: 20px !important;
}
}



#mapSection{
  margin-top: -20px;
  z-index: -100 !important;
}

#mapSection .col{
  padding: 0 !important;
}

.border{
  border:solid 2px red;
}

.card-marker{
  margin: 2px;
  min-height: 120px !important;
}

.lblAddressFormated{
  color:#2d2d2d;
  padding: 5px;
  margin-top: 10px;
}

.selected{
  background-color: #b9f6ca!important;
}

.card-panel{
  padding: 5px !important;
}

.brand-logo{
  font-size: 35px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif !important;
  font-style: italic;

}

#logoMercadoni{
  margin-top: 5px !important;
  margin-left: 5px !important;
}

#lblName{
  font-size: 12px;
  color:white;
}
